-
  const ttl = "Tweet for PG Study"
  const templateText = [
    //- &#13;&#10;\\n&#13;&#10;で1行スペース
    //- &#13;&#10;で改行
    "今日の目標&#13;&#10;\\n&#13;&#10;・&#13;&#10;・&#13;&#10;\\n&#13;&#10;意気込み:&#13;&#10;あああ&#13;&#10;\\n&#13;&#10;#駆け出しエンジニアと繋がりたい&#13;&#10;#プログラミング初心者",
    "学習記録&#13;&#10;\\n&#13;&#10;・&#13;&#10;・&#13;&#10;\\n&#13;&#10;感想と課題:&#13;&#10;あああ&#13;&#10;\\n&#13;&#10;#駆け出しエンジニアと繋がりたい&#13;&#10;#プログラミング初心者",
    "day000&#13;&#10;today:&#13;&#10;total:&#13;&#10;\\n&#13;&#10;感想と課題:&#13;&#10;あああ&#13;&#10;\\n&#13;&#10;#駆け出しエンジニアと繋がりたい&#13;&#10;#プログラミング初心者",
  ]
  const textareaText = [
    "ツイート内容を記載。&#13;&#10;作成ボタンでツイートボタン表示。&#13;&#10;&#13;&#10;※1行スペースを作りたい場合※&#13;&#10;改行した後に\\nを記載。&#13;&#10;半角スペース非対応、改行されます(仮仕様)。",
    "ツイートする内容は、&#13;&#10;ここで確認できるよ！"
  ]
  const freeTag = "好きなハッシュタグを追加"
  const cheerText ="PostedBy:https://chobimusic.com/tweet"
  const hashtags = [
    {
      name:"Popular",
      default:"#人気タグ",
      tag:["駆け出しエンジニアと繋がりたい","プログラミング初心者","プログラミング","プログラミング学習","今日の積み上げ"]
    },
    {
      name:"Language",
      default:"#言語",
      tag:["HTML&CSS","JavaScript","PHP","Ruby","Python","Java","SQL","Go","C"]
    },
    {
      name:"Framework",
      default:"#フレームワーク",
      tag:["Express","Vue.js","React","Angular","Laravel","RubyonRails","Django"]
    },
    {
      name:"Various",
      default:"#いろいろ",
      tag:["TypeScript","Bootstrap","jQuery","Node.js","Sass","Git","Pug","Gulp","Docker","Linux","Progate","Techpit"]
    }
  ]
doctype
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1.0")
    title #{ttl}
    link(rel="stylesheet" href="style.css")
  body
    header
      h1 #{ttl}
    main
      div
        select#selectTemplate
          option(value="" selected) 定型文(使う場合は最初に選択)
          option(value!=templateText[0]) 今日の目標
          option(value!=templateText[1]) 学習記録
          option(value!=templateText[2]) 学習記録②
      div: textarea#input(type="text" name="input" placeholder!=textareaText[0])
      div
        input#freeTag(type="text" placeholder=freeTag)
        button#freeTagBtn(type="button") 追加
      //- each文以下はインデントが1つずれる。
      each hashtag in hashtags
        div
          select(id="select"+hashtag.name)
            option(value="" selected) #{hashtag.default}
            - const tags = hashtag.tag
            each item in tags
              option(value=item) #{item}
      div
        //- input#cheerText(type="hidden" value=cheerText)
        //- button#cheerBtn(type="button") 応援
        span
          input#cheerBtn.checkbox(type="checkbox" value=cheerText)
          label.label-small 応援
        button#btn 作成
        button#button.display-none: a#tweet(target="_blank") ツイート
      div: textarea#check.check-text(type="text" placeholder!=textareaText[1] readonly)
    script(src="index.js")