-
  const inputText = [
    "好きなハッシュタグを追加",
    "駆け出しエンジニアと繋がりたい",
    "プログラミング初心者",
    "Posted by:https://chobimusic.com/tweet @masaru_pg"
  ]
  const singleText = "好きなハッシュタグを追加"
- for (let n = 0; n < 3; n++)
  //- input#hashtag(type="text" placeholder=inputText[#{n}])
  //- li number#{n+1}
  //- p #{inputText[n]}
  //- input(type="text" value=inputText[n+1])
  //- p #{inputText[n+1]}
  //- p #{inputText[n+1]}
  //- p(id="aaa"+n) #{inputText[n+1]}
  p(id="aaa"+(n+1)) aaa

  //- button#tagBtn(type="button") 追加

//- input(type="text" value=singleText)
//- input(type="text" value=inputText[0])
//- p #{inputText[0]}
//- p #{inputText[1]}
//- p #{inputText[2]}
//- p #{inputText[3]}
//- p #{singleText}